<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.launcher.tvbro">

    <application android:label="大屏展示" android:theme="@android:style/Theme.NoDisplay">
        <activity android:name=".MainActivity" android:exported="true" android:noHistory="true" android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>